* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* demo only  */
.box {
    background-color: #eee;
    margin: 40px auto;
    width: 800px;
    height: 300px;
    position: relative;
}
.box::before {
    width: 4px;
    height: 100%;
    left: 50%;
    margin-left: -2px;
}
.box::after {
    height: 4px;
    width: 100%;
    top: 50%;
    margin-top: -2px;
}
.box::before,
.box::after {
    content: "";
    background-color: #ddd;
    position: absolute;
}
.box .item {
    background-color: #f00;
    width: 200px;
    height: 100px;
    z-index: 2;
}
/* demo only  */

/* margin + position  1 */
/* .box .item {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    margin-top: -50px;
    top: 50%;
    z-index: 2;
} */

/* margin + transform  2 */
/* .box .item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
} */

/* flex 3  */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}